* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  min-height: 100vh;
  padding: 20px;
}

.game {
  width: 100%;
  max-width: 870px;
  margin: 0 auto;
}

.game h1 {
  text-align: center;
  margin-bottom: 20px;
}

.image-container {
  position: relative;
  width: 100%;
}

.game-image {
  display: block;
  width: 100%;
  max-width: 1024px;
  height: auto;
  margin: 0 auto;
  cursor: crosshair;
}

.target-box {
  position: absolute;

  border: 1px solid rgb(230, 220, 220);
  border-radius: 10%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;

  padding: 8px;

  background-color: white;
}

.target-box button {
  padding: 6px 10px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;

}

.target-box button:hover {
  background-color: #eee;
}


.cancel-button {
  color: red;
  font-size: 12px;
}

.cancel-button:hover {
  color: #be0f0f;
  text-decoration: underline;
} 

/* =========================
   Target Box
   ========================= */

.target-box button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}


/* =========================
   Found Characters
   ========================= */

.found-characters {
  text-align: center;
  margin-top: 20px;
}

.found-characters p {
  font-weight: bold;
}

.found-characters ul {
  list-style: none;
  padding: 0;
}


/* =========================
   Character Markers
   ========================= */

.character-marker {
  position: absolute;
  padding: 6px 10px;
  background-color: white;
  border: 2px solid green;
  font-weight: bold;
  pointer-events: none;
}


/*
  These positions are temporary.
  We're only proving that the marker appears
  when a character is found.

  Later, the markers will use the character's
  actual coordinates.
*/

.character-marker.waldo {
  top: 100px;
  left: 100px;
}

.character-marker.wizard {
  top: 250px;
  left: 300px;
}

.character-marker.odlaw {
  top: 400px;
  left: 200px;
}


/* =========================
   Game Complete
   ========================= */

.game-complete {
  text-align: center;
  margin-top: 20px;
}



